body {
  margin: 0px;
  padding: 0px;
  background-image: url('img/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(52, 58, 24);
  font-family: "Georgia", "serif"; /* list of common fonts at http://ampsoft.net/webdesign-l/WindowsMacFonts.html */
}
a {
  color: black;
  text-decoration: none;
}
div.back {
  margin: 50px auto;
  padding: 0px;
  width: 490px;
  height: 632px;
  background-image: url('img/scroll.png');
}
div.title {
  margin: 0px;
  padding: 100px 0px 0px 0px;
  text-align: center;
  font-size: 32px;
}
div.button {
  margin: 30px auto; /* horizontally center all buttons in the parent tag */
  padding: 0px;
  width: 199px;
  height: 42px;
  background-repeat: no-repeat;
  text-align: center; /* center align all text in the buttons */
  font-size: 22px;
  line-height: 40px; /* draw text at correct height inside button */
}
div.content {
  margin: 30px 80px;
  padding: 0px;
  text-align: center;
  font-size: 16px;
}
